<%= form_with(model: avatar, local: true) do |form| %>
  <% if avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>

      <ul>
      <% avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :avatar_user_id %>
  </div>

  <div class="field">
    <%= form.label :xPos %>
    <%= form.number_field :xPos, id: :avatar_xPos %>
  </div>

  <div class="field">
    <%= form.label :yPos %>
    <%= form.number_field :yPos, id: :avatar_yPos %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :avatar_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
