<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @avatar.user %>
</p>

<p>
  <strong>Xpos:</strong>
  <%= @avatar.xPos %>
</p>

<p>
  <strong>Ypos:</strong>
  <%= @avatar.yPos %>
</p>

<p>
  <strong>Name:</strong>
  <%= @avatar.name %>
</p>

<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
